<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">YouTube Cloud Uploader</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="pull-right collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item mx-1">
              <a class="github-button" href="https://github.com/shortthirman/youtube-cloud-uploader/issues" data-icon="octicon-issue-opened" data-size="large"
                  aria-label="Issue shortthirman/youtube-cloud-uploader on GitHub">Issue</a>
          </li>
          <li class="nav-item mx-1">
              <a class="github-button" href="https://github.com/shortthirman" data-size="large" aria-label="Follow @shortthirman on GitHub">Follow @shortthirman</a>
          </li>
          <li class="nav-item mx-1">
              <a class="github-button" href="https://github.com/sponsors/shortthirman" data-icon="octicon-heart" data-size="large" aria-label="Sponsor @shortthirman on GitHub">Sponsor</a>
          </li>
      </ul>
    </div>
</nav>